.animated {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.jumbotron .bg-overlay {
  background: rgba(0, 0, 0, 0);
}

.jumbotron:hover .bg-overlay {
  transform: scale(1.1);
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.thumbs-up-button {
  font-size: 24px;
}

.quote-user-postdate {
  position: relative;
  right: 0px;
  top: 25px;
  font-size: small;
}
